In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/autotel-shared-car-locations/2020_02_25.csv')
df

           latitude  longitude  total_cars cars_list                timestamp
0         32.090040  34.796790           1     [138]  2020-02-25 10:48:02 UTC
1         32.116140  34.794640           1      [64]  2020-02-25 10:48:02 UTC
2         32.118760  34.822290           1     [120]  2020-02-25 10:48:02 UTC
3         32.112260  34.837990           1     [110]  2020-02-25 10:48:02 UTC
4         32.142790  34.793430           1     [190]  2020-02-25 10:48:02 UTC
...             ...        ...         ...       ...                      ...
20049193  32.056237  34.769956           0        []  2019-11-06 11:27:03 UTC
20049194  32.096600  34.773800           0        []  2019-11-06 11:27:03 UTC
20049195  32.075600  34.784900           0        []  2019-11-06 11:27:03 UTC
20049196  32.086838  34.781170           0        []  2019-11-06 11:27:03 UTC
20049197  32.065721  34.776917           0        []  2019-11-06 11:27:03 UTC

[20049198 rows x 5 columns]

In [3]:
df.to_parquet('../datasets/autotel-shared-car-locations/2020_02_25.parquet')

In [1]:
import pandas as pd
import time
import os
import psutil

# Ruta de archivos
csv_file = '../datasets/autotel-shared-car-locations/2020_02_25.csv'
parquet_file = '../datasets/autotel-shared-car-locations/2020_02_25.parquet'

def get_memory_usage():
    return psutil.Process(os.getpid()).memory_info().rss / (1024 ** 2)  # MB

def get_file_size(filepath):
    size_mb = os.path.getsize(filepath) / (1024 ** 2)  # en MB
    return round(size_mb, 2)

# Tama√±o de los archivos
csv_size = get_file_size(csv_file)

# --- Lectura CSV ---
start_csv = time.time()
mem_csv_before = get_memory_usage()
df_csv = pd.read_csv(csv_file)
mem_csv_after = get_memory_usage()
time_csv = time.time() - start_csv

# --- Resultados ---
print('üìÑ CSV:')
print(f'üì¶ Tama√±o: {csv_size} MB')
print(f'‚è±Ô∏è Tiempo de lectura: {time_csv:.2f} segundos')
print(f'üíæ Uso de memoria: {(mem_csv_after - mem_csv_before):.2f} MB\n')
df_csv

üìÑ CSV:
üì¶ Tama√±o: 1015.79 MB
‚è±Ô∏è Tiempo de lectura: 8.55 segundos
üíæ Uso de memoria: 778.38 MB

           latitude  longitude  total_cars cars_list                timestamp
0         32.090040  34.796790           1     [138]  2020-02-25 10:48:02 UTC
1         32.116140  34.794640           1      [64]  2020-02-25 10:48:02 UTC
2         32.118760  34.822290           1     [120]  2020-02-25 10:48:02 UTC
3         32.112260  34.837990           1     [110]  2020-02-25 10:48:02 UTC
4         32.142790  34.793430           1     [190]  2020-02-25 10:48:02 UTC
...             ...        ...         ...       ...                      ...
20049193  32.056237  34.769956           0        []  2019-11-06 11:27:03 UTC
20049194  32.096600  34.773800           0        []  2019-11-06 11:27:03 UTC
20049195  32.075600  34.784900           0        []  2019-11-06 11:27:03 UTC
20049196  32.086838  34.781170           0        []  2019-11-06 11:27:03 UTC
20049197  32.065721  34.776917           0        []  2019-11-06 11:27:03 UTC

[20049198 rows x 5 columns]

In [1]:
import pandas as pd
import time
import os
import psutil

# Ruta de archivos
csv_file = '../datasets/autotel-shared-car-locations/2020_02_25.csv'
parquet_file = '../datasets/autotel-shared-car-locations/2020_02_25.parquet'

def get_memory_usage():
    return psutil.Process(os.getpid()).memory_info().rss / (1024 ** 2)  # MB

def get_file_size(filepath):
    size_mb = os.path.getsize(filepath) / (1024 ** 2)  # en MB
    return round(size_mb, 2)

# Tama√±o de los archivos
parquet_size = get_file_size(parquet_file)

# --- Lectura Parquet ---
start_parquet = time.time()
mem_parquet_before = get_memory_usage()
df_parquet = pd.read_parquet(parquet_file)
mem_parquet_after = get_memory_usage()
time_parquet = time.time() - start_parquet

# --- Resultados ---
print('üß± Parquet:')
print(f'üì¶ Tama√±o: {parquet_size} MB')
print(f'‚è±Ô∏è Tiempo de lectura: {time_parquet:.2f} segundos')
print(f'üíæ Uso de memoria: {(mem_parquet_after - mem_parquet_before):.2f} MB')
df_parquet

üß± Parquet:
üì¶ Tama√±o: 85.98 MB
‚è±Ô∏è Tiempo de lectura: 1.94 segundos
üíæ Uso de memoria: 1774.91 MB

           latitude  longitude  total_cars cars_list                timestamp
0         32.090040  34.796790           1     [138]  2020-02-25 10:48:02 UTC
1         32.116140  34.794640           1      [64]  2020-02-25 10:48:02 UTC
2         32.118760  34.822290           1     [120]  2020-02-25 10:48:02 UTC
3         32.112260  34.837990           1     [110]  2020-02-25 10:48:02 UTC
4         32.142790  34.793430           1     [190]  2020-02-25 10:48:02 UTC
...             ...        ...         ...       ...                      ...
20049193  32.056237  34.769956           0        []  2019-11-06 11:27:03 UTC
20049194  32.096600  34.773800           0        []  2019-11-06 11:27:03 UTC
20049195  32.075600  34.784900           0        []  2019-11-06 11:27:03 UTC
20049196  32.086838  34.781170           0        []  2019-11-06 11:27:03 UTC
20049197  32.065721  34.776917           0        []  2019-11-06 11:27:03 UTC

[20049198 rows x 5 columns]