In [22]:
import pandas as pd

data = {
    'VehicleID': [101, 102, 103, 104],
    'Speed': [50, 80, 40, 90],
    'Status': ['Loaded', 'Empty', 'Loaded', 'Empty'],
    'Slope': [3.5, 2.0, 5.0, 6.0],
    'Alert': [0, 0, 0, 1]
}

df = pd.DataFrame(data)

# Aplicamos lógica booleana para definir 'High_Risk'
df['High_Risk'] = ((df['Status'] == 'Loaded') & (df['Slope'] > 4)) | \
                  ((df['Status'] == 'Empty') & (df['Speed'] > 85))

df

   VehicleID  Speed  Status  Slope  Alert  High_Risk
0        101     50  Loaded    3.5      0      False
1        102     80   Empty    2.0      0      False
2        103     40  Loaded    5.0      0       True
3        104     90   Empty    6.0      1       True

In [23]:
# Filtro usando lógica booleana
df_high_risk_alerts = df[(df['High_Risk'] == True) & (df['Alert'] == 1)]

df_high_risk_alerts

   VehicleID  Speed Status  Slope  Alert  High_Risk
3        104     90  Empty    6.0      1       True

In [9]:
import numpy as np

# Matriz de características (Speed, Slope, Alert)
X = df[['Speed', 'Slope', 'Alert']].values

# Vector de pesos (factores de ponderación)
weights = np.array([0.3, 0.5, 0.2])

# Cálculo del índice de riesgo (producto punto)
df['Risk_Idx'] = np.dot(X, weights)

df

   VehicleID  Speed  Status  Slope  Alert  High_Risk  Risk_Idx
0        101     50  Loaded    3.5      0      False     16.75
1        102     80   Empty    2.0      0      False     25.00
2        103     40  Loaded    5.0      0       True     14.50
3        104     90   Empty    6.0      1       True     30.20

In [24]:
# Aplicamos lógica booleana para definir 'High_Risk'
df['High_Risk'] = [((stat == 'Loaded') & (slope > 4)) | ((stat == 'Empty') & (speed > 85))
                   for stat, slope, speed in df[['Status', 'Slope', 'Speed']].values]

df

   VehicleID  Speed  Status  Slope  Alert  High_Risk
0        101     50  Loaded    3.5      0      False
1        102     80   Empty    2.0      0      False
2        103     40  Loaded    5.0      0       True
3        104     90   Empty    6.0      1       True

In [25]:
# Uso de algebra de bool para asignar niveles
df['Risk_Lvl'] = np.where((df['Status'] == 'Loaded') & (df['Slope'] > 4), 'High',
                            np.where((df['Status'] == 'Empty') & (df['Slope'] > 4),
                                     'Medium', 'Low'))

df

   VehicleID  Speed  Status  Slope  Alert  High_Risk Risk_Lvl
0        101     50  Loaded    3.5      0      False      Low
1        102     80   Empty    2.0      0      False      Low
2        103     40  Loaded    5.0      0       True     High
3        104     90   Empty    6.0      1       True   Medium